@{
    ViewData["Title"] = "Create";
}

<h1>Create Article</h1>

@model Article

@using (Html.BeginForm("Create", "Articles", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="section">
        <h3>Article Information</h3>
        <div class="form-group">
            @Html.LabelFor(m => m.Content, "Content Image")
            <input type="file" name="ArticleFile" accept="images/*" />
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Title)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category)
            @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
      
    </div>
}