@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@model CreateArticleModel

@using (Html.BeginForm("Create", "Articles", FormMethod.Post))
{
    <div class="section">
        <h3>Article Information</h3>
        <div class="form-group">
            <label for="Title">Title:</label>
            @Html.EditorFor(m => m.Article.Title)
        </div>
        <div class="form-group">
            <label for="AuthorID">Author ID:</label>
            @Html.EditorFor(m => m.Article.AuthorID) <!-- Assuming AuthorID is an ID or reference to the author -->
        </div>
        <div class="form-group">
            <label for="Description">Description:</label>
            @Html.EditorFor(m => m.Article.Description)
        </div>
        <div class="form-group">
            <label for="Category">Category:</label>
            @Html.EditorFor(m => m.Article.Category)
        </div>
        <div class="form-group">
            <label for="Content">Content:</label>
            @Html.EditorFor(m => m.Article.Content)
        </div>
    </div>

    <div id="contentSections" class="section">
        <h3>Contents</h3>
        @for (int i = 0; i < Model.Contents.Count; i++)
        {
            <div class="contentSection">
                <h4>Content @i</h4>
                <div class="form-group">
                    <label for="Content">Content:</label>
                    @Html.EditorFor(m => m.Contents[i].content)
                </div>
                <div class="form-group">
                    <label for="ContentType">Content Type:</label>
                    @Html.EditorFor(m => m.Contents[i].ContentType)
                </div>
                <div class="form-group">
                    <label for="OrderNumber">Order Number:</label>
                    @Html.EditorFor(m => m.Contents[i].OrderNumber)
                </div>
            </div>
        }
    </div>
    <button type="button" id="addContent" class="btn btn-primary">Add Content</button>
    <input type="submit" value="Save" class="btn btn-primary" />
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var contentCount = @Model.Contents.Count;

            $("#addContent").click(function () {
                var contentSection = `
                            <div class="contentSection">
                                <h4>Paragraph ${contentCount}</h4>
                                <div class="form-group">
                                    <label for="Content">Content:</label>
                                    <input type="text" name="Contents[${contentCount}].Content" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="ContentType">Content Type:</label>
                                    <input type="text" name="Contents[${contentCount}].ContentType" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label for="OrderNumber">Order Number:</label>
                                    <input type="text" name="Contents[${contentCount}].OrderNumber" class="form-control" />
                                </div>
                            </div>`;

                $("#contentSections").append(contentSection);
                contentCount++;
            });
        });
    </script>
}