@model WebApplication1.Models.Content

@{
    ViewData["Title"] = "Create";
}

<h1>Create Content</h1>

<hr />
@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm("Create", "contents", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="section">
      

        <div class="form-group">
            @Html.LabelFor(m => m.ContentType)
            <div id="contentTypeInputText">
                @Html.RadioButtonFor(m => m.ContentType, "Paragraph", new { @checked = "checked" }) Paragraph
            </div>
            <div id="contentTypeInputFile">
                @Html.RadioButtonFor(m => m.ContentType, "Image") File
                <input type="file" name="ArticleFile" accept="image/*" style="display: none;" />
            </div>
            <div id="contentTypeInputText">
                @Html.RadioButtonFor(m => m.ContentType, "API") API
            </div>
        </div>

        <div id="contentInputText" class="form-group">
            @Html.LabelFor(m => m.content)
            @Html.TextBoxFor(m => m.content, new { @class = "form-control" })
        </div>
        <div id="contentInputText" class="form-group">
            @Html.LabelFor(m => m.OrderNumber)
            @Html.TextBoxFor(m => m.OrderNumber, new { @class = "form-control", type = "number" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ArticleID, new { @class = "control-label" })
            @Html.TextBox("ArticleID", ViewData["ArticleID"], new { @class = "form-control" })
        </div>
     
    </div>
    <style>
        .form-group {
            margin-bottom: 1rem;
        }

        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-size: 1rem;
        }

            .btn-primary:hover {
                background-color: #0069d9;
            }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

            .container .form-group {
                flex-basis: 48%;
            }
    </style>

    <div class="container">
        <div class="form-group">
            <input id="toggleContentButton" type="button" value="Toggle Content" class="btn btn-primary" />
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#toggleContentButton").click(function () {
            var contentType = $("input[name='ContentType']:checked").val();

            if (contentType === "Paragraph") {
                $("#contentInputText").show();
                $("#contentTypeInputFile input[type='file']").hide();
            } else if (contentType==="Image"){
                $("#contentInputText").hide();
                $("#contentTypeInputFile input[type='file']").show();
            } else if(contentType==="API"){
                $("#contentInputText").show();
                $("#contentTypeInputFile input[type='file']").hide();

            }
        });
    });
</script>

